<!-- make a form -->
<html>
  <body>
    <form method="POST" action="/clubs/create">
      <label for="">Club Number</label>
      <input type="text" name="no" id="" /><br />
      <label for="">Club Name</label>
      <input type="text" name="name" id="" /><br />
      <label for="">Club Description</label>
      <input type="text" name="description" id="" /><br />
      <label for="">Department Number</label>
      <input type="text" name="deptNo" id="" /><br />
      <label for="">Lead USN</label>
      <input type="text" name="leadUSN" id="" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
