<!-- make a form -->
<html>
  <body>
    <form method="POST" action="/events/create" enctype="multipart/form-data">
      <label for="">Event Number</label>
      <input type="text" name="no" id="" /><br />
      <label for="">Event Name</label>
      <input type="text" name="name" id="" /><br />
      <label for="">Event Description</label>
      <input type="text" name="description" id="" /><br />
      <label for="">Venue</label>
      <input type="text" name="venue" id="" /><br />
      <label for="">Date</label>
      <input type="datetime-local" name="date" id="" /><br />
      <label for="">Upload Poster in jpg</label>
      <input type="file" id="" name="image_poster" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
