body{
    background-color: rgb(224, 230, 230);
}
.bg-black{
    background-color: black;
}
.sh{
    height: 10px;
}
.modal-body {
    max-height: calc(120vh - 143px);
    /* max-width: calc(100vh - 143px); */
    overflow-y: hidden; }